details.faq-details {
  border-bottom: 2px solid #e6e6e6;
  summary {
    transition: 0.4s all ease-in-out;
    position: relative;
    &::marker {
      content: none;
    }
    .arrow-down {
      margin-left: 0.255em;
      transform: rotate(0);
      transform-origin: 0.3rem 40%;
      transition: 0.25s transform ease;
      font-size: 1.4rem;
    }
  }
  &[open] {
    summary {
      color: $primary;
      .arrow-down {
        transform: rotate(180deg);
      }
    }
    summary ~ * {
      animation: sweep 0.5s ease-in-out;
    }
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
