body {
    color: $white;
    line-height: normal;
    margin: 0;
    font-family: $body-font;
    position: relative;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $headings-font !important;
  line-height: normal;
  margin: 0;
}
