body {
  color: $secondary;
  line-height: normal;
  margin: 0;
  font-family: $body-font;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headings-font !important;
  line-height: normal;
}

a {
  transition: 0.4s all ease-in-out;
  &:hover {
    color: $primary !important;
  }
}

#site-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(91.5deg, #3d70b1 11.77%, #ff2243 136.6%);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.page-loaded {
    animation: fadeOut 0.8s forwards;
  }
}

.dropdown-toggle {
  &::after {
    content: "";
    display: none;
  }
  .arrow-down {
    margin-left: 0.255em;
    transform: rotate(0);
    transform-origin: 0.3rem 40%;
    transition: 0.25s transform ease;
  }
  &.show {
    .arrow-down {
      transform: rotate(180deg);
    }
  }
}

.dropdown-item {
  color: $secondary !important;
  font-weight: normal;
  transition: 0.4s all ease-in-out;
  &:hover {
    color: $secondary !important;
    font-weight: bold;
  }
}

.form-input {
  border: none;
  border-bottom: 2px solid #c4c4c4;
  color: $secondary;
  padding: 0.6rem;
  &:focus-visible {
    outline: transparent;
  }
}

.form-textarea {
  border: 2px solid #c4c4c4;
  color: $secondary;
  padding: 0.6rem;
  resize: none;
  &:focus-visible {
    outline: transparent;
  }
}

form.theme-form {
  display: flex;
  align-items: center;
  input[type="text"],
  input[type="email"] {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    height: 40px;
    padding: 0.5rem 0.9rem;
    border: 2px solid #d8d9d8;
    flex-grow: 100;
    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      color: #1a24304b;
    }
  }
  button[type="submit"] {
    border-radius: 60px;
    color: $white;
    background: $primary;
    border: none;
    padding: 0.5rem 0.9rem;
    margin-left: -17px;
  }
}

.header-menu-cart {
  .cart-dropdown {
    background-color: $secondary;
    color: #fff;
  }
  .cart-items-counter {
    background-color: $primary;
    color: #fff;
    right: 10%;
    top: -5%;
    width: 21px;
    height: 21px;
  }
}

@include media("<laptop-l") {
  #site-preloader .site-logo {
    width: 50vw;
    max-width: 300px;
    height: auto;
  }
  .section-shape {
    object-fit: cover;
  }
}

@include media("<=mobile-l") {
  form.theme-form {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
    input[type="text"],
    input[type="email"] {
      border-radius: 60px;
    }
  }
}

/*This is a fade out. */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
