@import "/node_modules/include-media/dist/include-media";
@import "../vendors-extensions/include-media";
@import "../utils/imports";
@import "../components/searchform";
@import "../components/post";
@import "../components/pagination";

.categories-slider {
  overflow: hidden;
  .inner-container {
    flex-grow: 100;
    overflow: hidden;
  }
}

.category-slide {
  width: max-content;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  color: $secondary;
  &.active {
    font-weight: bold;
    &::after {
      position: absolute;
      content: "";
      width: 60%;
      height: 3px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $secondary;
    }
    &:hover {
      &::after {
        background-color: $primary;
      }
    }
  }
}

.categories-button {
  &-prev,
  &-next {
    top: 0;
    font-size: 1.4rem;
    cursor: pointer;
  }
  &-prev {
    left: -10%;
  }
  &-next {
    right: -10%;
  }
}
.categories-control-disabled {
  color: #d8d9d8;
  cursor: default;
}
