@import "/node_modules/include-media/dist/include-media";
@import "../vendors-extensions/include-media";
@import "../utils/imports";
@import "../components/contact_and_faq";

.contact-form{
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 0px 5px 30px 0px rgba(26, 36, 48, 0.15);
}