@import "/node_modules/include-media/dist/include-media";
@import "../vendors-extensions/include-media";
@import "../utils/imports";

.site-banner{
    height: 100vh;
    min-height: 800px;
}

.home-banner-shape{
    object-fit: fill;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 70vw;
    height: 100%;
    z-index: -1;
}

.home-banner-design{
    width: 100%;
    height: 100%;
}

.nivelation-section-shape{
    top: 0%;
    left: 0%;
    object-fit: fill;
    object-position: bottom;
}

.btn-nivelation-test{
    background: transparent;
    border: 2px solid $white;
    color: $white;
    transition: .4s all ease-in-out;
    &:hover,&:active{
        background: $white;
        color: $secondary !important;
    }
}

.storytelling-item{
    max-width: 320px;
}

.storytelling-shape{
    position: absolute;
    img{
        object-fit: contain;
    }
    &.shape-1{
        top: -20%;
        left: 30%;
        transform: translate(-50%,-50%);
    }
    &.shape-2{
        top: 22%;
        left: 79%;
        transform: translate(-50%, -50%) rotate(-23deg) scale(.9);
    }
}

@include media("<laptop-l"){
    .home-banner-shape{
        width: 82vw;
    }
    .nivelation-section-shape{
        object-fit: cover;
    }
    .storytelling-shape{
        &.shape-1{
            top: -30%;
            left: 40%;
            transform: translate(-50%, -50%) rotate(15deg);
        }
        &.shape-2{
            top: 13%;
            left: 86%;
            transform: translate(-50%, -50%) rotate(-33deg ) scale(0.9);
        }
    }
}

@include media("<laptop"){
    .home-banner-shape{
        width: 70vw;
        height: 40%;
    }
    .home-banner-design{
        max-width: 450px;
    }
}