@import "/node_modules/include-media/dist/include-media";
@import "../vendors-extensions/include-media";
@import "../utils/imports";

.post-thumbnail{
    margin-top: -14rem;
    object-fit: cover;
    border-radius: 40px;
    max-height: 400px;
}

.related-posts{
    .inner-container{
        overflow: hidden;
    }
}
.related-post{
    width: 320px;
    img{
        max-height: 221px;
        object-fit: cover;
        border-radius: 30px;
    }
}

.newsletter{
    border-radius: 30px;
}

.comment{
    display: flex;
    flex-wrap: wrap;
    .avatar{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #C4C4C4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
    ul.children{
        width: 100%;
        display: flex;
        margin-left: 5%;
        margin-top: 1%;
        background: #ededed;
    }
}

@include media("<=mobile-l"){
    .related-post{
        width: 50vw;
    }
    .newsletter{
        border-radius: 0;
    }
}