$white: #f6f6f6;
$gray: #d0d4d8;
$light-gray: #c4c4c4;
$black: #000;
$dark: #020202;
$yellow: #FFD45A;
$brown: #B47841;
$red: #FF3E3E;
$primary-color: #f1f1f1;

$primary:       #FF2243;
$secondary:     #041F4C;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;


