.wpadminbar-exists{
    top: 0 !important;
}
  
@include media(">=mobile-l"){
    .wpadminbar-exists{
        top: 50px !important;
    }
}

.blur-up {
-webkit-filter: blur(5px);
filter: blur(5px);
transition: filter 400ms, -webkit-filter 400ms;
}
  
.blur-up.lazyloaded {
-webkit-filter: blur(0);
filter: blur(0);
}
  

.w-fit-content{
    width: fit-content;
}

.text-blue{
    color: $secondary;
}

.text-red{
    color: $primary;
}

.bg-yellow{
    background-color: $yellow;
}

.bg-dark-blue{
    background-color: #041A40;
}

.bg-blue{
    background-color: $secondary;
}

.shadow-red{
    box-shadow: 10px 17px $primary;
}

.z-n1{
    z-index: -1;
}

.z-0{
    z-index: 0;
}

.z-1{
    z-index: 1;
}